@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!!</h1>
    <p>This web app contains a ...</p>
</div>

<img src="~/Content/Artificial-Intelligence-Is-Not-Fake-1-1080x675.jpeg">

<a onclick="@("window.location.href='" + @Url.Action("ViewAirBnB", "PredictionAirBnBPrice") + "'");">
    <div style="
    width: 20vw;
    height: 9vw;
    position: absolute;
    top: 16vw;
    background: #70f7ff;
    opacity: 61%;
    left: 15vw;
    border-style: outset;
    font-size:2.5vw;
    text-align: center;
    "
    class="highlight_text">AirBnB Price Prediction</div>
</a>
<div style="
    width: 20vw;
    height: 9vw;
    position: absolute;
    top: 16vw;
    background: #70f7ff;
    opacity: 61%;
    left: 62vw;
    border-style: outset;
    font-size:2.5vw;
    text-align: center;
"
     class="highlight_text">About</div>