@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model CalculateSimpleInterest.Models.Movies

<p> Hi!! the amount is @Model.Amount.</p>