@using AspNetCoreMvcDynamicViews.Views.Shared.Components.ConfigueSectionA

@model CalculateSimpleInterest.Models.Movies


@{

    if (Model.Amount!= null && Model.Amount != 0) 
    {
        <p> Hi!! the amount is @Model.Amount.</p>
    }

}