@model WebApplication2ML.Model.ModelInput

@{
    ViewData["Title"] = "ViewAriBnB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script language="javascript">

        $(function () {
            $('#partial').on('change', '.updateevent', function (el) {
                $.ajax({
                    url: window.location.origin + "/PredictionAirBnBPrice/UpdateViewData",
                    type: "post",
                    data: $("#partialform").serialize(),
                    success: function (result) {
                        $("#partial").html(result);
                    }
                });
            });
        });
    </script>
}

<div style="padding:2vw;"></div>
<form id="partialform" asp-controller="PredictionAirBnBPrice" asp-action="ViewAirBnB" method="post" style="width:34vw;margin-left:-1vw">

    <div class="col-md-12">
        <div class="form-group row" style="flex-wrap:unset">
            <label class="col-sm-5 col-form-label font-weight-bold">Neighbourhood Group</label>
            <input list="neigroups" asp-for="Neighbourhood_group" class="form-control" placeholder="Pick the neighbourhood group" value="">
            <datalist id="neigroups">
                <option value="Lisboa"></option>
                <option value="Azambuja"></option>
                <option value="Cascais"></option>
                <option value="Sintra"></option>
                <option value="Alenquer"></option>
                <option value="Oeiras"></option>
                <option value="Vila Franca De Xira"></option>
                <option value="Mafra"></option>
                <option value="Torres Vedras"></option>
                <option value="Lourinh"></option>
                <option value="Loures"></option>
                <option value="Cadaval"></option>
                <option value="Amadora"></option>
                <option value="Sobral De Monte Agrao"></option>
            </datalist>
        </div>
        <div class="form-group row" style="flex-wrap:unset">
            <label class="col-sm-5 col-form-label font-weight-bold">Neighbourhood</label>
            <input list="neig" asp-for="Neighbourhood" class="form-control" placeholder="Pick the neighbourhood" value="">
            <datalist id="neig">
                <option value="Santa Maria Maior"></option>
                <option value="Aveiras de Cima"></option>
                <option value="Areeiro"></option>
                <option value="Estrela"></option>
                <option value="Avenidas Novas"></option>
                <option value="Campolide"></option>
                <option value="Barcarena"></option>
                <option value="Arroios"></option>
                <option value="Carcavelos e Parede"></option>
                <option value="Ericeira"></option>
                <option value="Venteira"></option>
                <option value="Ventosa"></option>
                <option value="Olivais"></option>
                <option value="Carvoeira"></option>
                <option value="Beato"></option>
                <option value="Alfragide"></option>
                <option value="Ramada e Caneas"></option>
                <option value="Ribamar"></option>
                <option value="Carnota"></option>
                <option value="Alcoentre"></option>
            </datalist>
        </div>
        <div class="form-group row" style="flex-wrap:unset">
            <label class="col-sm-5 col-form-label font-weight-bold">Type of Room</label>
            <input list="Room_type" asp-for="Room_type" class="form-control" placeholder="Pick the the type of room" value="" >
            <datalist id="Room_type">
                <option value="Entire home/apt"></option>
                <option value="Private room"></option>
                <option value="Shared room"></option>
                <option value="Hotel room"></option>
            </datalist>
        </div>
        <div class="form-group row" style="flex-wrap:unset">
            <label class="col-sm-5 col-form-label font-weight-bold">Minimum number of Nights</label>
            <input list="Minimum_nights" asp-for="Minimum_nights" class="form-control" placeholder="Choose the Minimum number of nights" value="">
            <datalist id="Minimum_nights">
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
                <option value="6"></option>
                <option value="7"></option>
                <option value="8"></option>
                <option value="9"></option>
                <option value="10"></option>
            </datalist>
        </div>
        <div class="form-group row" style="flex-wrap:unset">
            <label class="col-sm-5 col-form-label font-weight-bold">Number of Reviews</label>
            <input list="Number_of_reviews" asp-for="Number_of_reviews" class="form-control" placeholder="Pick the Number of Reviews" value="">
            <datalist id="Number_of_reviews">
                <option value="100"></option>
                <option value="2"></option>
                <option value="132"></option>
                <option value="243"></option>
                <option value="1455"></option>
                <option value="34"></option>
                <option value="1"></option>
                <option value="0"></option>
                <option value="324"></option>
                <option value="98"></option>
            </datalist>
        </div>
        <div class="form-group row" style="flex-wrap:unset">
            <label class="col-sm-5 col-form-label font-weight-bold">Number of Reviews per month</label>
            <input list="Reviews_per_month" asp-for="Reviews_per_month" class="form-control" placeholder="Pick the Number of Reviews per month" value="">
            <datalist id="Reviews_per_month">
                <option value="0"></option>
                <option value="24"></option>
                <option value="12"></option>
                <option value="1"></option>
                <option value="4"></option>
                <option value="2"></option>
            </datalist>
        </div>
        <div class="form-group row" style="flex-wrap:unset">
            <label class="col-sm-5 col-form-label font-weight-bold">Number of Counted host listings</label>
            <input list="Calculated_host_listings_count" asp-for="Calculated_host_listings_count" class="form-control" placeholder="Pick the Number Counted host listings" value="" >
            <datalist id="Calculated_host_listings_count">
                <option value="1"></option>
                <option value="0"></option>
                <option value="143"></option>
                <option value="24"></option>
                <option value="354"></option>
                <option value="608"></option>
            </datalist>
        </div>
        <div class="form-group row" style="flex-wrap:unset">
            <label class="col-sm-5 col-form-label font-weight-bold">Availability (number of days per year)</label>
            <input id="avail" type="text" list="Availability_365" asp-for="Availability_365" class="form-control" placeholder="number of days" value="">
            <datalist id="Availability_365">
                <option value="365"></option>
                <option value="34"></option>
                <option value="165"></option>
                <option value="234"></option>
                <option value="101"></option>
                <option value="111"></option>
            </datalist>
        </div>

        <div class="form-group" style="padding:2vw" align="center">
            <input type="submit" value="Predict Price per night" class="btn btn-info" id="sb" style="font-size:0.8vw" />
        </div>
    </div>
</form>



<div id="partial" style="position:absolute;top:20vw;left:70vw">
    <partial name="PartialViewAirBnB.cshtml" />
</div>